<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div (click)="goToPokemonList(pokemon)" class="card horizontal" appBorderCard>
                <div class="card-image">
                    <img [src]="pokemon.picture"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>  {{pokemon.name}}</p>
                        <p><small>{{pokemon.created | date:"dd/MM/yyy" }}</small></p>
                        <span *ngFor="let type of pokemon.types"
                              class="{{ type | pokemonTypeColor }}">{{type}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<a class="btn-floating btn-large waves-effect waves-ligth red z-depth-3"
   style="position: fixed; bottom:25px; right: 25px;" routerLink="/pokemon/add">+</a>







